# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

#Files
notebooks/crossref-api-review.ipynb
notebooks/resultados.json